/* have the playground fill the whole viewport while maintaining ratio and not being clipped */
html,body{
    height: 100%;
}
body{
    margin:0;
}
canvas{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
